.thing-container{
    background-color: #D9D9D9;
    width: 100%;
    padding: 30px;
}
.thing-container p{
    font-size: 16px;
    padding: 10px 25px 10px 0px;
}
.thing-container h1{
    color: red;
    font-size: 50px;
    font-weight: 900;
}

.thing-table{
    width: 70%;
}

.thing-img{
    width: 400px;
    height: 400px;
    margin: 10px 0px 10px 0px;
}

.vi-mi{
    display: flex;
    justify-content: center;
    width: 100%;
}
.icon-container{
    justify-content: center;
    width: 400px;
    height: 500px;
    margin: 40px;
    padding: 15px;
}
.icon{
    background-color: #D9D9D9;
    width: 300px;
    height: 80px;
    align-content: center;
    border-radius: 50px 0px 50px 0px;
    font-size: 40px;
    margin-bottom: 30px;
}
.icon h1{
    font-weight: 900;
    color: red;
}

.logoo{
    display: flex;
    flex-wrap: wrap;
}
.logoo img{
    width: 200px;
    height:fit-content;
    padding: 10px;
}
